body{
  background-color: springgreen;
}

form{
  background-color: forestgreen;
  border-style: solid;
  border-width: 5px 65px 5px 5px;
  border-color: yellow;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#image{
  display: block;
  margin: 0 auto;
  background-color: springgreen;
  opacity: 0.87;
  border-radius: 25px;
}

#heading{ 
  text-align: center;
  border-radius: 25px;
}

#chose{
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

#cities{
  text-align: center;
}

#city{
  color: black;
}

#calendar{
  color: yellow;
}

#contact{
  color: black;
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
} 
  
#firsti{
  position: relative;
  left: 5px;
}

#lasti{
  position: relative;
  left: 4px;;
}

#gender{
  position: relative;
  top: 40px;
}

#genderchoices{
  position: relative;
  left: 80px;
}

#email{
  position: relative;
}

#submit{
  position: relative ;
  left: 120px;
}

#submit:hover{
  background-color: yellow;
  color: black;
}